{% extends "base/main.html" %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'base/login_page.css' %}">
{% endblock css_content %}
{% block content %}

<div class="login_page">
    <div class="screen">
        <div class="screen__content">
            <form class="login" method="POST" action="">
                {% csrf_token %}
                <div class="login__field">
                    <label for="username" class="login__label">User Name</label>
                    <i class="login__icon fas fa-user"></i>
                    <input type="text" id="username" class="login__input" name="username" placeholder="Enter your username">
                </div>
                <div class="login__field">
                    <label for="password" class="login__label">Password</label>
                    <i class="login__icon fas fa-lock"></i>
                    <input type="password" id="password" class="login__input" name="password" placeholder="Enter your password">
                </div>
                {% include "base/messages.html" %}
                <button class="button-20" role="button">Submit</button>
            </form>
            <div class="social-login">
                <h3>Don't have an account? <a href="{% url 'register' %}">Register</a></h3>
                <div class="social-icons">
                    <a href="#" class="social-login__icon fab fa-instagram"></a>
                    <a href="#" class="social-login__icon fab fa-facebook"></a>
                    <a href="#" class="social-login__icon fab fa-twitter"></a>
                </div>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>        
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>        
    </div>
</div>
{% endblock content %}
