<nav class="navbar navbar-expand-lg bg-white shadow-lg">
    <div class="container">

        <a href="{% url 'home' %}" class="navbar-brand">Sm <span class="text-danger">Joshi</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if request.user.user_type == "student" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'container' %}">
                        <span class="material-symbols-outlined">account_circle</span> Profile
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin-panel' %}">
                        <span class="material-symbols-outlined">account_circle</span> Admin Profile
                    </a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <span class="material-symbols-outlined">home</span> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'all-classes' %}">
                        <span class="material-symbols-outlined">check_box</span> Attendance
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'all-classes-assignements' %}">
                        <span class="material-symbols-outlined">assignment</span> Assignments
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'exam-home' %}">
                        <span class="material-symbols-outlined">quiz</span> Exam
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list-feedbacks' %}">
                        <span class="material-symbols-outlined">chat</span> Feedback
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'book-data' %}">
                        <span class="material-symbols-outlined">local_library</span> Library
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'all-classes-information' %}">
                        <span class="material-symbols-outlined">info</span> Information
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'all-classes-timetable' %}">
                        <span class="material-symbols-outlined">schedule</span> Timetable
                    </a>
                </li>

                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout-page' %}">
                        <span class="material-symbols-outlined">logout</span> Logout
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login-page' %}">
                        <span class="material-symbols-outlined">login</span> Login
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
