<div class="nav-container">
    <nav class="menu" id="nav">
        {% if request.user.user_type == "student" %}
        <span class="nav-item">
            <a href="{% url 'container' %}">
                <span class="material-symbols-outlined"></span> Profile
            </a>
        </span>
        {% endif %}
        <span class="nav-item">
            <a href="{% url 'home' %}">
                <span class="material-symbols-outlined">home</span> Home
            </a>
        </span>
        <span class="nav-item">
            <a href="{% url 'all-classes' %}">
                <span class="material-symbols-outlined">
                    account_circle
                    </span> Attendance
            </a>
        </span>
        <span class="nav-item">
            <a href="{% url 'all-classes-assignements' %}">
                <span class="material-symbols-outlined"></span> Assignments
            </a>
        </span>
        <span class="nav-item">
            <a href="{% url 'all-classes-timetable' %}">
                <span class="material-symbols-outlined"></span> Timetable
            </a>
        </span>
        <span class="nav-item">
            <a href="{% url 'list-feedbacks' %}">
                <span class="material-symbols-outlined"></span> Feedback
            </a>
        </span>
        <span class="nav-item">
            <a href="{% url 'exam-home' %}">
                <span class="material-symbols-outlined">
                    quiz
                    </span>    Exam        </a>
        </span>
        <span class="nav-item">
            <a href="{% url 'book-data' %}">
                <span class="material-symbols-outlined">
                    local_library
                    </span>            </a>
        </span>
        <span class="nav-item">
            <a href="{% url 'all-classes-information' %}">
                <span class="material-symbols-outlined"></span> Information
            </a>
        </span>
       
            {% if request.user.is_authenticated %}
            <span class="nav-item">
                <a href="{% url 'logout-page' %}">
                    <span class="material-symbols-outlined">logout</span> Logout
                </a>
            </span>
            {% else %}
            <span class="nav-item">
                <a href="{% url 'login-page' %}">
                    <i data-feather="bell"></i> Login
                </a>
            </span>
            {% endif %}
       
    </nav>
</div>
