

<div class="nav-container">
    <nav class="menu" id="nav">
        <span class="nav-item">
            <span class="material-symbols-outlined">	
                home
                </span>
                home
        </span>
    </a>
        <a href="{%url 'all-classes' %}">
        <span class="nav-item active">
            <span class="material-symbols-outlined">
                description
                </span>
                Attenndance
            
            
        </span>
    </a>
        <a href="{%url 'all-classes-assignements' %}">
        <span class="nav-item">
            <span class="material-symbols-outlined">
                auto_stories
                </span>
                Assignemts
            
        </span>
    </a>
        <a href="{% url 'list-feedbacks' %}">
        <span class="nav-item">
            <span class="material-symbols-outlined">
                comment
                </span>
                FeedBack
        </span>
    </a>
        <a href="{% url 'exam-home'%}">
        <span class="nav-item">
            <span class="icon">
                <span class="material-symbols-outlined">
                    quiz
                    </span>
                    Exams
        </span>
    </a>
        <a href="{% url 'book-data' %}">
        <span class="nav-item">
            <span class="material-symbols-outlined">
                menu_book
                </span>
                    Book        </span>
        <div class="page">
        </a>
            {% if request.user.is_authenticated %} 
            <a href="{% url 'logout-page' %}">
        <div >
            <span class="nav-item">
                <span class="material-symbols-outlined">
                    logout
                    </span> 
                LogOut
            </span>
        </div>
    </a>
            {% else %}
            <div >
            <span class="nav-item">
                <span class="icon">
                    <i data-feather="bell"></i>
                </span>
                <a href="{% url 'login-page'  %}">Login</a>
                
            </span>
            </div>
            {% endif %}
        </div> 
    
    </nav>
    </div>