

<div class="nav-container">
    <nav class="menu" id="nav">
        <span class="nav-item">
            <span class="material-symbols-outlined">	
                home
                </span>
                <a href="{% url 'home' %}">home</a>
        </span>
        <span class="nav-item active">
            <span class="material-symbols-outlined">
                description
                </span>
                <a href="{%url 'all-classes' %}">Attenndance</a>
            
            
        </span>
        <span class="nav-item">
            <span class="material-symbols-outlined">
                auto_stories
                </span>
                <a href="{%url 'all-classes-assignements' %}">Assignemts</a>
            
        </span>
        <span class="nav-item">
            <span class="material-symbols-outlined">
                comment
                </span>
                <a href="{% url 'list-feedbacks' %}">FeedBack</a>
        </span>
        <span class="nav-item">
            <span class="icon">
                <span class="material-symbols-outlined">
                    quiz
                    </span>
                    <a href="{% url 'exam-home'%}">Exams </a>
        </span>
       
        <span class="nav-item">
            <span class="material-symbols-outlined">
                menu_book
                </span>
                <a href="{% url 'book-data' %}">Books</a>
        </span>
        <div class="page">
            
            {% if request.user.is_authenticated %} 
        <div >
            <span class="nav-item">
                <span class="material-symbols-outlined">
                    logout
                    </span> 
                <a href="{% url 'logout-page' %}">LogOut</a>
            </span>
        </div>
            {% else %}
            <div >
            <span class="nav-item">
                <span class="icon">
                    <i data-feather="bell"></i>
                </span>
                <a href="{% url 'login-page'  %}">Login</a>
                
            </span>
            </div>
            {% endif %}
        </div> 
    
    </nav>
    </div>