<!-- templates/students/register.html -->
{% extends "base/main.html" %}
{% block css_content %}
{% load static %}
<link rel="stylesheet" href="{%static 'base/login_page.css' %}">
{% endblock css_content %}\


{% block content %} 
<div class="login_page">
    <div class="screen">
        <div class="screen__content">
            <form class="login" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                
                {% for f in user_form %}
                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    {{ f }}
                    {% if f.errors %}
                    <div class="error">
                        {% for error in f.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                
                {% include "base/messages.html" %}
                
                <button class="button-29" id="btn1">Submit</button>
            </form>
            <div>
                <h2>
                    Already have an account? <a href="{% url 'login-page' %}">Login</a>
                </h2>
            </div>
        </div>
    </div>
    <div class="screen__background">
        <span class="screen__background__shape screen__background__shape4"></span>
        <span class="screen__background__shape screen__background__shape3"></span>
        <span class="screen__background__shape screen__background__shape2"></span>
        <span class="screen__background__shape screen__background__shape1"></span>
    </div>
</div>

{% endblock content %}

