{% extends "base/main.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'base/user_type.css' %}">

<div class="form-container">
    <h2>User Information</h2>
    
    {% include 'base/messages.html' %}
    
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% if user_type == 'student' %}
            {{ student_form.as_p }}
        {% elif user_type == 'teacher' %}
            {{ teacher_form.as_p }}
        {% elif user_type == 'admin' %}
            {{ admin_form.as_p }}
        {% else %}
            {{ student_form.as_p }}
        {% endif %}
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock content %}
