{% extends "base/main.html" %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'feedbacks/feedback_by_category.css'%}">
{% endblock css_content %}

{% block content %}
<div class="container">
  <div class="header">
    <a href="{% url 'add-feedback-quistions' category.id %}" class="create-feedback-btn">Create Feedback</a>
  </div>

  <h1 class="main-title">Feedback for {{ category.name }}</h1>
  <p class="description">{{ category.description }}</p>
  
  <h2 class="sub-title">Questions and Responses</h2>
  {% for question in questions %}
    <div class="question-block">
      <h3 class="question-text">{{ question.question_text }}</h3>
      <ul class="responses-list">
        {% for response in responses %}
          {% if response.question.id == question.id %}
          {% if question.question_type == 'text' and response.response_text %}
          <li class="response-item">
              <div class="responce-text"> 
                {{ response.response_text }}      
              </div>
              <div class="responce-user">
                {{ response.user.username }}
              </div>          
          </li>
              {% elif question.question_type == 'mcq' and  response.response_choice %}
          <li class="response-item">

                {{ response.response_choice }}
          </li>
          {% elif question.question_type == 'likert' %}
          <li class="response-item">
                {{ response.response_likert }}
              </li>
              {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
{% endblock %}