{% extends 'base/main.html' %}

{% block css_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'feedbacks/list_feedback.css' %}?v={{">
{% endblock css_content %}

{% block content %}
{% include "base/navigation_bar.html" %}

<div class="container">
    <div class="header">
        <h1>Feedbacks</h1>
        <a href="{% url 'create-categerory-feedback' %}" class="create-feedback-btn">Create Category Feedback</a>
    </div>

    <div class="all-feedback">
        <h2>New</h2>
        {% for feedback in categerory %}
        <div class="feedback-card">
            <div class="card-header">
                <span class="feedback-name">{{ feedback.name }}</span>
                <span class="feedback-description">{{ feedback.description }}</span>
            </div>
            <a href="{% url 'submit-feedbacks' feedback.id %}">
                <div class="card-body">
                    <p class="feedback-text">Submit feedback</p>
                </div>
            </a>
            <a href="{% url 'categerory-feedback' feedback.id %}">
                <div class="card-footer">
                    <span class="details">Details</span>
                </div>
            </a>
        </div>
        {% endfor %}

        <h2>Old</h2>
        {% for feedback in feedbacks %}
        <div class="feedback-card">
            <div class="card-header">
                <span class="student-name">{{ feedback.student.username }}</span>
                <span class="teacher-name">{{ feedback.teacher }}</span>
            </div>
            <div class="card-body">
                <p class="feedback-text">{{ feedback.feedback_text }}</p>
            </div>
            <div class="card-footer">
                <span class="duration">{{ duration|get_item:feedback.id }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
