{% extends "base_generic.html" %}

{% block content %}
  <h1>Submit Feedback for {{ category.name }}</h1>
  <p>{{ category.description }}</p>
  
  <form method="post">
    {% csrf_token %}
    {% for question in questions %}
      <div>
        <label>{{ question.question_text }}</label>
        {% if question.question_type == 'text' %}
          <input type="text" name="question_{{ question.id }}_text">
        {% elif question.question_type == 'mcq' %}
          {% for option in question.options.all %}
            <div>
              <input type="radio" name="question_{{ question.id }}_choice" value="{{ option.option_text }}">
              <label>{{ option.option_text }}</label>
            </div>
          {% endfor %}
        {% elif question.question_type == 'likert' %}
          <input type="number" name="question_{{ question.id }}_likert" min="1" max="5">
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit">Submit Feedback</button>
  </form>
{% endblock %}
