/* static/css/add_question.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    width:100%;
    display: flex;
    justify-content: center; 
     align-items: center;
     margin: 0;
    }
    
    .form-container {
    margin: 80px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width:100%;
    
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

h3 {
    margin-top: 20px;
    font-size: 20px;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
}

form p {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border-color: #007bff;
    outline: none;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #0056b3;
}
