/* Custom CSS for the Test Page */
.container {
    margin-top: 50px;
    max-width: 100%;
    background-color:rgb(33, 33, 33);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(246, 246, 246, 0.05);
    margin-bottom: 20px;
    background-color: white;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.form-check-label {
    font-size: 1.1rem;
    margin-left: 10px;
}

.btn-primary, .btn-info, .btn-secondary, .btn-success {
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1rem;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-success:hover {
    background-color: #218838;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #f4f0f0;
    margin-bottom: 30px;
    text-align: center;
}

h3 a {
    font-size: 1.2rem;
    color: #f3f4f5;
    text-decoration: none;
    margin-right: 20px;
}

h3 a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .btn-primary, .btn-info, .btn-secondary, .btn-success {
        width: 100%;
        margin-bottom: 10px;
    }

    .d-flex {
        flex-direction: column;
        align-items: center;
    }

    h3 a {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
