{% extends 'base/main.html' %}
{% block css_content %}
<link rel="stylesheet" href="assignments/assignments_table.css">
{% endblock css_content %}

{% block content %}
<table border="1">
    <thead>
        <tr>
            <th>Roll no</th>
            <th>Name</th>
            {% for ass in assignments %}
            <th>() {{ ass.title }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for std in students %}
        <tr>
            <td>{{ std.roll_no }}</td>
            <td>{{ std.name }}</td>
            {% for ass in assignments %}
            {% if students_assignments|get_item:std.id|get_item:ass.id %}
            <td>✅</td>
            {% else %}
            <td>❎</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
