{% extends "base/main.html" %}
{% block css_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'assignments/assignment_checking.css' %}">
{% endblock css_content %}

{% block content %} 
{% include "base/navigation_bar.html" %}

<div class="header-container">
    <h3>assignment: {{assignment.title}}</h3>
    <p>Teacher: {{assignment.subject}}
        Assigned Date : {{assignment.assigned_date}}
        due_date : {{assignment.due_date}}
        assigned_by : {{assignment.assigned_by}} 
        Class : {{ classgroup.year }} || {{ classgroup.name }}</p>
</div>

<div class="button-container">
    <a href="{% url 'attendance-data' classgroup.id %}" class="button">Attendance Data</a>
    <a href="{% url 'send-mail-students' classgroup.id %}" class="button">Send Mail to Students</a>
</div>

<table class="responsive-table">
    <thead>
        <tr>
            <th>Roll No</th>
            <th>Student Name</th>
            <th>Mark Attendance</th>
        </tr>
    </thead>
    <tbody>
        {% for student, assignment_exists in students_assignement %}
        <tr>
            <td>{{ student.roll_no }}</td>
            <td>{{ student.name }}</td>
            <td>
                {% if assignment_exists %}
                <button class="present">Checked</button>
                {% else %}
                <button onclick="markforcheck({{ student.id }})" id="mark-present-{{ student.id }}">Mark Check</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    function markforcheck(studentId) {
        const url = "{% url 'check-assignment' 0 assignment.id %}".replace(0, studentId);
        
        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            credentials: 'same-origin'
        })
        .then(response => {
            if (response.ok) {
                const markElement = document.querySelector(`#mark-present-${studentId}`);
                markElement.className = 'present';
                markElement.textContent = 'Checked';
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>

{% endblock content %}
