{% extends 'base/main.html' %}
{% block css_content %}
<link rel="stylesheet" href="">
{% endblock css_content %}

{% block content %}
<table>
    <th>Roll no</th>
    <th>Name</th>
    {% for ass in assignemnts %}
    <th>{{ass.title}}</th>
    {% endfor %}

    <tr>
        {% for std in  students %}
        
        <td>{{students.name}}</td>
        {% endfor %}
       {% for std ,ass_exist in  students_assignements %}
        {% if ass_exist %}
        <td>✅</td>
        {% else %}
        <td>❎</td>
       {% endif %}

       {% endfor %}

    </tr>
</table>
{% endblock content %}