{% extends 'base/main.html' %}
{% block css_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'assignemnts/assignments_table.css' %}">
{% endblock css_content %}

{% block content %}
<table class="styled-table">
    <tr>
        <th>Roll No</th>
        <th>Name</th>
        {% for ass in assignemnts %}
        <th>{{ ass.title }}</th>
        {% endfor %}
    </tr>
    {% for std in students %}
    <tr>
        <td>{{ std.roll_no }}</td>
        <td>{{ std.name }}</td>
        {% for ass_exist in students_assignments %}students_assignments
        {% if students_assignments|get_item:std.id|get_item:ass.id %}
        <td>✅</td>
        {% else %}
        <td>❎</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock content %}
