{% extends "base/main.html" %}
{% block css_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'feedbacks/add_question.css' %}">
{% endblock css_content %}
{% block content %}
  <h1 class="form-title">Add New Question</h1> 
  <form method="post" class="question-form"> 
    {% csrf_token %} 
    {{ question_form.as_p }} 
    <div id="mcq-options" style="display: none;" class="options-container">
      <h3 class="options-title">Options for Multiple Choice Question</h3>
      <input type="text" name="options" placeholder="Option 1" class="option-input">
      <input type="text" name="options" placeholder="Option 2" class="option-input">
      <input type="text" name="options" placeholder="Option 3" class="option-input">
      <input type="text" name="options" placeholder="Option 4" class="option-input">
    </div>
    <button type="submit" class="submit-button">Add Question</button>
  </form>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const questionTypeField = document.querySelector('#id_question_type');
      questionTypeField.addEventListener('change', function() {
        const mcqOptionsDiv = document.querySelector('#mcq-options');
        if (questionTypeField.value === 'mcq') {
          mcqOptionsDiv.style.display = 'block';
        } else {
          mcqOptionsDiv.style.display = 'none';
        }
      });
    });
  </script>
{% endblock %}
