{% extends 'base/main.html' %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'exams/create_exam.css' %}">
{% endblock css_content %}
{% block content %}
{% include 'base/navigation_bar.html' %}
<div class="exam-form-container">
    <h2>Create FeedBack</h2>
    <form method="POST">
        {% csrf_token %}
        
        {% if form.errors %}
            <div class="form-errors">
                <ul>
                    {% for field in form %}
                        {% if field.errors %}
                            <li>{{ field.label }}: {{ field.errors }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% for f in forms %}
        
        <div class="form-group">
            {{ f.label_tag }}
            {{ f}}
        </div>
        {% endfor %}
        
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock content %}