<!DOCTYPE html>
<html>
<head>
    <title>{{ classgroup.name }} - Timetable</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>Timetable for {{ classgroup.name }}</h2>
    
    <table>
        <tr>
            <th>Time</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        {% for time_slot in timetable_entries.values('start_time', 'end_time').distinct %}
        <tr>
            <td>{{ time_slot.start_time }} - {{ time_slot.end_time }}</td>
            {% for day in "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" %}
                <td>
                    {% with slot=timetable_entries.filter(start_time=time_slot.start_time, end_time=time_slot.end_time, day_of_week=day).first %}
                        {% if slot %}
                            {{ slot.subject.name }}<br>
                            {{ slot.teacher.name }}<br>
                            {{ slot.start_time }} - {{ slot.end_time }}
                        {% endif %}
                    {% endwith %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>
