{% extends 'base/' %}

<table>
    <tr>
        <th>Time</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    {% for time_slot in time_slots %}
    <tr>
        <td>{{ time_slot.start_time }} - {{ time_slot.end_time }}</td>
        {% for day in days %}
            <td>
                {% with slot=timetable_entries|get_slot:time_slot.start_time:time_slot.end_time:day %}
                    {% if slot %}
                        {{ slot.subject.name }}<br>
                        {{ slot.teacher.name }}<br>
                        {{ slot.start_time }} - {{ slot.end_time }}
                    {% endif %}
                {% endwith %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
