{% extends 'base/main.html' %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'timetables.' %}">
{% endblock css_content %}
{% block content %}
{% include "base/navigation_bar.html" %}

<h2><a href="{% url  'create-timetable'  classid=classgroup.id %}">create timetable</a></h2>
<h2><a href="{% url  'create-timeslot' %}">create slots</a></h2>

<h1>Timetable of {{classgroup.year}}--{{classgroup.name}} </h1>
<table border="1">
    <thead>
        <tr>
            <th>Time Slot</th>
            {% for day in days_of_week %}
            <th>{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for slot in time_slots %}
        <tr>
            <td>{{ slot.start_time }} - {{ slot.end_time }}</td>
            {% for day in days_of_week %}
            <td>
                {% with entries=timetable|get_item:day|get_item:slot %}
                {% for entry in entries %}
                    {{ entry.subject.name }} ({{ entry.teacher.name }})<br>
                    {% comment %} {{ entry.classgroup.name }} {% endcomment %}
                {% endfor %}
                {% endwith %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
