{% extends 'base/main.html' %}

{% block content %}
<h2><a href="{% url  %}"></a></h2>
<h1>Timetable</h1>
<table border="1">
    <thead>
        <tr>
            <th>Time Slot</th>
            {% for day in days_of_week %}
            <th>{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for slot in time_slots %}
        <tr>
            <td>{{ slot.start_time }} - {{ slot.end_time }}</td>
            {% for day in days_of_week %}
            <td>
                {% with entries=timetable|get_item:day|get_item:slot %}
                {% for entry in entries %}
                    {{ entry.subject.name }} ({{ entry.teacher.name }})<br>
                    {{ entry.classgroup.name }}
                {% endfor %}
                {% endwith %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
