<!DOCTYPE html>
<html>
<head>
    <title>Timetable List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Timetable List</h1>
    {% for day in days_of_week %}
    <h2>{{ day }}</h2>
    <table>
        <thead>
            <tr>
                <th>Classroom</th>
                <th>Subject</th>
                <th>Teacher</th>
                <th>Time Slot</th>
            </tr>
        </thead>
        <tbody>
            {% for timetable in timetables.day %}
            <tr>
                <td>{{ timetable.classroom.name }}</td>
                <td>{{ timetable.subject.name }}</td>
                <td>{{ timetable.teacher.user.username }}</td>
                <td>{{ timetable.time_slot.start_time }} - {{ timetable.time_slot.end_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
{% endblock content %}
