{% extends "base/main.html" %}
{% block css_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'students/attendance.css' %}?t={{time}}">
{% endblock css_content %}

{% block content %} 
{% include "base/navigation_bar.html" %}

<div class="header-container">
    <h2>{{ username }}</h2>
    <h3>Hello Teachers</h3>
    <p>Student Attendance of {{ today }} for {{ classgroup.year }} || {{ classgroup.name }}</p>
</div>

{% comment %} {% if user_type == 3 or user_type == 2 %} {% endcomment %}
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Student Name</th>
                <th>Contact</th>
                <th>Email</th>
                <th>ID Card</th>
                <th>Delete Data</th>
            </tr>
        </thead>
        <tbody>
            {% for student in student_attendance %}
            <tr>
                <td>{{ student.roll_no }}</td>
                <td>{{ student.name }}</td>
              
                <td>{{ student.contact }}</td>
                <td><a href="{% url 'send-mail-student' student.id %}">{{ student.user.email }}</a></td>
                <td><a href="{% url 'id-card' student.id %}">ID Card of {{ student.name }}</a></td>
                <td><a href="{% url 'delete-student' student.id classgroup.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock content %}
