{% extends 'base/main.html' %}
{% block css_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'librarys/book_home.css'%}?v={{time}}">
{% endblock css_content %}

{% block content %}
{% include 'base/navigation_bar.html' %}    

{% include "base/search.html" %}
<br>
<div class="container">
    <div class="mb-3">
        <a href="{% url 'create-book' %}" class="btn btn-primary">Create Book</a>
    </div> 
    
    <h2>Sm Joshi Library<small> Hadpasar Books Data</small></h2>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">No</div>
            <div class="col col-2">Books Name</div>
            <div class="col col-3"> Author</div>
            <div class="col col-4"> Year</div>
            <div class="col col-4"> Dowload</div>

            <div></div>
        </li>
        {% for book in books %}
        <li class="table-row">
            <div class="col col-1" data-label="Job Id">{{forloop.counter}}</div>
            <div class="col col-2" data-label="Customer Name">{{book.name}}</div>
            <div class="col col-3" data-label="Amount">{{book.author}}</div>
            <div class="col col-4" data-label="Payment Status">{{book.publication_year}}</div>
            {% if book.file %}
            
            <div  class="col col-4" data-label="Payment Status">
                <a href="{% url 'dowload-book' book.id %}">
                     <span class="material-symbols-outlined">
                    download
                    </span></a>
            </div>
            {% else %}
            <div  class="col col-4" data-label="Payment Status">
              Can't Dowload
            </div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}