{% extends 'base/main.html' %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'exams/students_scrore.css' %}">
{% endblock css_content %}
{% block content %}
{% include 'base/navigation_bar.html' %}

<div class="container">
    <h2 class="test-title">{{ test.title }} Score
            </h2>
    <table class="students-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Roll No</th>
                <th>Student Name</th>
                <th>Score</th>
                <th>User ID</th>
                <th>Username</th>
                {% if test.passing_marks %}
                <th>Status</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for score in students_scores %}
            {% if request.user == score.student %}
            <tr class="custom-user-result">
                <td>{{ forloop.counter }}</td>
                {% with student_details=students_details|get_item:score.student.id %}
                <td>{{ student_details.roll_no }}</td>
                <td>{{ student_details.name }}</td>
                {% endwith %}
                <td>{{ score.score }}/{{ no_of_quistion }} </td>
                <td>{{ score.student.id }}</td>
                <td>{{ score.student.username }}</td>
                {% if test.passing_marks %}
                
         
                <td>
                    {% if score.is_passed %}
                        Pass
                    {% else %}
                        Fail
                    {% endif %}
                </td>
                    {% endif %}
                </tr>
            {% else %}
            <tr>
                <td>{{ forloop.counter }}</td>
                {% with student_details=students_details|get_item:score.student.id %}
                <td>{{ student_details.roll_no }}</td>
                <td>{{ student_details.name }}</td>
                {% endwith %}
                <td>{{ score.score }}/{{no_of_quistion}}</td>
                <td>{{ score.student.id }}</td>
                <td>{{ score.student.username }}</td>
                {% if test.passing_marks %}
                
         
                <td>
                    {% if score.score|floatformat <= test.passing_marks %}
                        Pass
                    {% else %}
                        Fail
                    {% endif %}
                </td>
                
                    {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    // Push the state initially
    history.pushState(null, null, window.location.href);

    // Re-push the state whenever the popstate event is triggered (back button)
    window.onpopstate = function() {
        history.pushState(null, null, window.location.href);
    };
</script>


{% endblock content %}
