{% extends "base/main.html" %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'assignments/assignments_data.css' %}?v={{time}}">
{% endblock css_content %}

{% block content %}
{% include "base/navigation_bar.html" %}
<br>
<div class="container">
    <div class="header">
        <a href="{% url 'create-assignment' %}" class="create-assignment-btn">Create Assignment</a>
    </div>
    <br>
    <div class="assignments-list">
        {% if assignments %}
        {% for ass in assignments %}
        <div class="card">
            <div class="card-body">
                <span class="card-number">{{ forloop.counter }}</span>
                    <span class="card-subject">{{ ass.subject }}</span>
                    <h2 class="card-title">{{ ass.assigned_date }} to {{ ass.due_date }}</h2>
                    <span class="card-classgroup">{{ ass.classgroup }}</span>
                    <div class="card-actions">
                        <a href="{% url 'download_file' ass.id %}" class="download-btn">
                            <span class="material-symbols-outlined">download</span> Download
                        </a>
                    </div>
                </div>
                <div class="card-shadow"></div>
            </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div><h2>Does Not Have Assignemnts</h2></div>
{% endif %}
{% endblock content %}
