{% extends "base/main.html" %}
{% block css_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'classes/create_classes.css' %}?v={{time}}">
{% endblock css_content %}


{% block content %}

    {% include 'base/navigation_bar.html' %}
    <div class="exam-form-container">
        <h2>Create Classes</h2>
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% if form.errors %}
                <div class="form-errors">
                    <ul>
                        {% for field in form %}
                            {% if field.errors %}
                                <li>{{ field.label }}: {{ field.errors }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% for f in form %}
            
            <div class="form-group">
                {{ f.label_tag }}
                {{ f}}
            </div>
            {% endfor %}
            
            <button type="submit">Submit</button>
        </form>
    </div>
   
    {% endblock content %}