<!-- Footer -->
<footer class="text-center pt-3 text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Links -->
  <section>
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <!-- College Description -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4 footer-section">
          <h6 class="text-uppercase fw-bold mb-4"><i class="bi bi-house-fill me-3"></i> S. M. Joshi, Hadapsar College</h6>
          <p class="footer-content">S. M. Joshi, Hadapsar College, a proud institution under the esteemed Rayat Shikshan Sanstha, Satara, is on a mission to impart education to the downtrodden masses. Established in 1919 by the visionary Late Padmabhushan Dr. Karmaveer Bhaurao Patil, our founder envisioned a realm of education that transcends social barriers and uplifts the deprived. Driven by the belief that education eradicates social evils, he established schools and colleges in neglected, inaccessible areas, shaping promising lives and instilling values of self-help and dignity of labor.</p>
        </div>

        <!-- Useful Links -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4 footer-section">
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          <p class="footer-links">
            <li class="mt-3 mb-3 text-primary">
              <a href="https://www.smjoshicollege.edu.in/" class="text-reset">SM Joshi College</a>
            </li>
            <li class="mt-3 mb-3 text-primary">
              <a href="http://www.unipune.ac.in/" class="text-reset">Savitribai Phule Pune University</a>
            </li>
          </p>
        </div>

        <!-- Contact Information -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4 footer-section">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p class="footer-contact">
            <i class="bi bi-house-fill me-3"></i> S.M. Joshi College, Hadapsar, Pune 411028.
          </p>
          <p>
            <i class="bi bi-envelope-fill me-3"></i> smjoshicollege@gmail.com
          </p>
          <p>
            <i class="bi bi-telephone-inbound-fill me-3"></i> 020-26999001 / 240121
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Copyright -->
  <div class="text-center p-4 footer-copyright">
    Copyright © 2018-2023<div class="text-reset fw-bold">All rights reserved | S. M. Joshi College Hadapsar, Pune</div>
    <div class="text-muted mt-2">
      For Website Support:<strong>+91 8080028963 (Vijay Gholve)</strong>
    </div>
  </div>
</footer>
<!-- Footer End -->
