{% extends 'base/main.html' %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'students/containers.css' %}?v={{time}}">
{% endblock css_content %}
{% block content %}
<div class="dashboard">
    <div class="header">
        <a href="{% url 'profile-detail' student.id %}">
        <div class="profile">
            <img src="/media/{{student.profile}}" alt="Profile" class="profile-img">
            <span class="username">{{student.name}}</span>
        </div>
    </a>
        {% comment %} <div class="menu-icon">&#9776;</div> {% endcomment %}
    </div>
    <div class="icons-grid">
        <a href="{% url 'home' %}">
        <div class="icon">
            <img src="\media\other\th (1).jpg" alt="Result Sheet">
            <span>home</span>
        </div>
    </a>
    <a href="{%url 'home-assignemts' student.classgroup.id %}">
        <div class="icon">
            <img src="\media\other\th (4).jpg" alt="Assignment">
            <span>Assignment</span>
        </div>
    </a>
        <a href="{%url 'attendance-one' student.id %}">
        <div class="icon">
            <img src="\media\other\th (2).jpg" alt="Attendance">
            <span>Attendance</span>
        </div>
        </a>
        <a href="{% url 'list-feedbacks' %}">
        <div class="icon">
            <img src="\media\other\th (5).jpg" alt="Info Desk">
            <span>Feedback</span>
        </div>
        </a>
      
        <a href="{% url 'exam-home'%}">
        <div class="icon">
            <img src="\media\other\th (3).jpg" alt="Exam Schedule">
            <span>Exam Schedule</span>
        </div>
        </a>
        <a href="{% url 'exam-home'%}">
            <div class="icon">
                <img src="media/other/th (3)4.jpg" alt="Exam Schedule">
                <span>Timetable</span>
            </div>
            </a>
            <a href="{% url 'exam-home'%}">
                <div class="icon">
                    <img src="media/other/th (6).jpg" alt="Exam Schedule">
                    <span>Library</span>
                </div>
                </a>
    </div>
</div>
{% endblock content %}