{% extends 'base/main.html' %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'students/containers.css' %}">
{% endblock css_content %}
{% block content %}
<div class="dashboard">
    <div class="header">
        <a href="{% url  %}"></a>
        <div class="profile">
            <img src="/media/{{student.profile}}" alt="Profile" class="profile-img">
            <span class="username">{{student.name}}</span>
        </div>
        <div class="menu-icon">&#9776;</div>
    </div>
    <div class="icons-grid">
        <a href="{% url 'home' %}">
        <div class="icon">
            <img src="\media\other\th (1).jpg" alt="Result Sheet">
            <span>home</span>
        </div>
    </a>
    <a href="{%url 'all-classes-assignements' %}">
        <div class="icon">
            <img src="\media\other\th (4).jpg" alt="Assignment">
            <span>Assignment</span>
        </div>
    </a>
        <a href="{%url 'attendance-one' student.id %}">
        <div class="icon">
            <img src="\media\other\th (2).jpg" alt="Attendance">
            <span>Attendance</span>
        </div>
        </a>
        <a href="{% url 'list-feedbacks' %}">
        <div class="icon">
            <img src="\media\other\th (5).jpg" alt="Info Desk">
            <span>Feedback</span>
        </div>
        </a>
        <div class="icon">
            <img src="icons/album.png" alt="Album">
            <span>Album</span>
        </div>
        <a href="{% url 'exam-home'%}">
        <div class="icon">
            <img src="\media\other\th (3).jpg" alt="Exam Schedule">
            <span>Exam Schedule</span>
        </div>
        </a>
    </div>
</div>
{% endblock content %}