{% extends 'base/main.html' %}
{% load custom_filters %}
{% load static %}
{% block css_content %}
    <link rel="stylesheet" href="{% static 'students/attendance_table.css' %}">
    
{% endblock css_content %}
{% block content %}
{% include "base/navigation_bar.html" %}
{% comment %} <div></div> {% endcomment %}
<div class="container"> 
<center><h2>Students attendance of {{classgroup.name}} || {{classgroup.year}}  in (2024-25)
     <a href="{% url 'expord-data' classgroup.id %}">
    <span class="material-symbols-outlined">
    download
    </span>
</a></h2></center>  
    <table border="2"> 
        <thead>
            <tr>
                <th>roll no</th>
                <th>Student Name</th>  

                {% for date in dates %}
                    <th>{{ date }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>

                <tr>
                    <td>{{ student.roll_no }}</td>
                    <td>{{ student.name }}</td>
                    {% for date in dates %}
                    {% with attendance=attendance_data|get_item:date %}
                        <td>{% if attendance %}Present{% else %}Absent{% endif %}</td>
                    {% endwith %}
                {% endfor %}
                </tr>
           
        </tbody>
    </table>
</div>
    {% endblock content %}